<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="naver-site-verification" content="6410fa0dc4eed7c08c14e3d0dc8e548445d160e1"/>
    <meta name="description" content="여기를 눌러 링크를 확인하세요.">
    <meta property="og:type" content="website">
    <meta property="og:title" content="바로나마취통증의학과">
    <meta property="og:description" content="여기를 눌러 링크를 확인하세요.">
    <meta property="og:image" content="/resources/images/commons/logo.png">
    <meta property="og:url" content="http://www.thebarona.com">
    <title>바로나통증의학과 방문을 환영합니다.</title>
    <link rel="shortcut icon" type="image/x-icon" href="/resources/images/commons/favicon.ico" />
    <link href="https://cdn.rawgit.com/zirafa/bootstrap-grid-only/94433673/css/grid12.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <link href="/resources/plugin/bootstrap/bootstrap-4-utilities.min.css" rel="stylesheet" />
    <link href="/resources/plugin/flexslider/flexslider.css" rel="stylesheet" type="text/css" media="screen">
    <link href="/resources/plugin/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css" media="screen">
    <link href="/resources/css/reset%EF%B9%96ver=2021041310151316.css" rel="stylesheet">
    <link href="/resources/css/font%EF%B9%96ver=2021041310151316.css" rel="stylesheet">
    <link href="/resources/css/main%EF%B9%96ver=2021041310151316.css" rel="stylesheet">
    <link href="/resources/css/style%EF%B9%96ver=2021041310151316.css" rel="stylesheet">
    <link href="/resources/css/responsive%EF%B9%96ver=2021041310151316.css" rel="stylesheet">
    <link href="/resources/css/popup.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/resources/js/cookie.js"></script>
    <script src="/resources/plugin/flexslider/jquery.flexslider-min.js"></script>
    <script src="/resources/plugin/magnific-popup/magnific-popup.min.js"></script>
</head>
<body scroll="auto">
<!-- wrapper (S) -->
<div id="wrapper">


    <!-- header (S) -->
    <div id="header">
        <div class="container">
            <div class="top">
                <!-- tel area -->
                <div class="tel">
                    <img src="/resources/images/commons/top_tel.png" alt="041-582-8585">
                </div>
                <!-- logo area -->
                <div class="logo">
                    <a href="/"><img src="/resources/images/commons/logo.png" alt="바로나 마취통증의학과"></a>
                </div>
                <!-- util area -->
                <div class="util">
                    <ul>
                        <li><a href="/">홈</a></li>
                        <li><a href="/admin/login">관리자</a></li>
                    </ul>
                </div>
                <!-- mobile menu bar -->
                <div class="mobile_bar">
                    <a href="javascript:show_mobile_menu()">
                        <img src="/resources/images/commons/btn_menu_bar.png" />
                    </a>
                </div>
            </div>
        </div>

        <!-- gnb 메뉴 -->
        <div class="gnb_wrap">
            <div class="gnb_main">
                <ul>
                    <li>
                        <img src="/resources/images/commons/btn_menu_bar.png" />
                    </li>
                    <li>
                        <a href="/intro/1">바로나소개</a>
                    </li>
                    <li>
                        <a href="/ds/disease_1">통증클리닉</a>
                    </li>
                    <li>
                        <a href="/ex/expert_1">전문클리닉</a>
                    </li>
                    <li>
                        <a href="/tm/treatment_1">전문치료법</a>
                    </li>
                    <li>
                        <a href="/cs/notice_list">상담&예약</a>
                    </li>
                </ul>

                <!-- gnb sub start -->
                <div class="gnb_sub">
                    <div class="inner">
                        <ul class="sub_list"></ul>
                        <ul class="sub_list sub-menu-01">
                            <!-- 						<li> -->

                            <!-- 						</li> -->
                            <li>
                                <a href="/intro/2">진료시간</a>
                            </li>
                            <li>
                                <a href="/intro/3">찾아오시는 길</a>
                            </li>
                        </ul>

                        <ul class="sub_list sub-menu-01">
                            <li>
                                <a href="/intro/4">병원 내부안내</a>
                            </li>
                            <li>
                                <a href="/intro/5">의료장비 소개</a>
                            </li>
                        </ul>

                        <ul class="sub_list sub-menu-02">
                            <li>
                                <a href="/ds/disease_1">두통</a>
                            </li>
                            <li>
                                <a href="/ds/disease_2l">목 통증</a>
                            </li>
                            <li>
                                <a href="/ds/disease_3">등 통증</a>
                            </li>
                        </ul>

                        <ul class="sub_list sub-menu-02">
                            <li>
                                <a href="/ds/disease_4">어깨 통증</a>
                            </li>
                            <li>
                                <a href="/ds/disease_5">팔꿈치 통증</a>
                            </li>
                            <li>
                                <a href="/ds/disease_6">허리 통증</a>
                            </li>
                        </ul>

                        <ul class="sub_list sub-menu-02">
                            <li>
                                <a href="/ds/disease_7">무릎 통증</a>
                            </li>
                            <li>
                                <a href="/ds/disease_8">엉덩이 통증</a>
                            </li>
                            <li>
                                <a href="/ds/disease_9">사타구니 통증</a>
                            </li>
                        </ul>

                        <ul class="sub_list sub-menu-02">
                            <li>
                                <a href="/ds/disease_10">손목/손가락 통증</a>
                            </li>
                            <li>
                                <a href="/ds/disease_11">발목/발가락 통증</a>
                            </li>
                        </ul>

                        <ul class="sub_list sub-menu-03">
                            <li>
                                <a href="/ex/expert_1">팔꿈치 통증</a>
                            </li>
                            <li>
                                <a href="/ex/expert_2">어깨 통증</a>
                            </li>
                        </ul>

                        <ul class="sub_list sub-menu-03">
                            <li>
                                <a href="/ex/expert_3">목 통증</a>
                            </li>
                            <li>
                                <a href="/ex/expert_4">대상포진</a>
                            </li>
                        </ul>

                        <ul class="sub_list sub-menu-04">
                            <li>
                                <a href="/tm/treatment_1">프롤로 치료</a>
                            </li>
                            <li>
                                <a href="/tm/treatment_2">스톨스체외 충격파치료</a>
                            </li>
                            <li>
                                <a href="/tm/treatment_3">수면 신경치료</a>
                            </li>
                            <li>
                                <a href="intro_1.html">교통사고 진단</a>
                            </li>
                        </ul>

                        <ul class="sub_list sub-menu-04">
                            <!-- 						<li> -->

                            <!-- 						</li> -->
                            <li>
                                <a href="/tm/treatment_5">도수 치료</a>
                            </li>
                        </ul>

                        <ul class="sub_list sub-menu-05">
                            <li>
                                <a href="/cs/notice_list">공지사항</a>
                            </li>
                            <li>
                                <a href="/cs/faq_list">자주하는 질문</a>
                            </li>
                        </ul>
                    </div>

                    <div class="sub_image">
                        <img src="/resources/images/commons/menu_img_01.png" />
                        <img src="/resources/images/commons/menu_img_02.png" />
                        <img src="/resources/images/commons/menu_img_03.png" />
                        <img src="/resources/images/commons/menu_img_04.png" />
                        <img src="/resources/images/commons/menu_img_05.png" />
                    </div>
                </div>
                <!-- gnb sub end -->

                <script>
				$(document).ready(function() {
				  change_submenu(1);
				});

				$('.gnb_main').hover(function() {
					$('.gnb_sub').stop().slideDown(200);
				}, function() {
					$('.gnb_sub').stop().slideUp(200);
				});

				$('.gnb_main > ul > li').hover(function() {
					var index = $(this).index();
					change_submenu(index);
				}, function() {});

				var menu_arr = new Array();
				menu_arr.push(['1', '5']);
				menu_arr.push(['2', '5']);
				menu_arr.push(['3', '4', '5']);
				menu_arr.push(['3', '4', '5']);
				menu_arr.push(['3', '4', '5']);

				function change_submenu(index) {
					if(index == 0) return;

					$('.gnb_sub .sub_list').css('display', 'none');
					$('.gnb_sub .sub_image img').hide();
					$('.gnb_sub .sub_image img').eq(index-1).show();
					var array = menu_arr[index-1];

					$.each(array, function(index, value) {
						$('.sub-menu-0' + value).css('display', 'inline-block');
					});
				}
			</script>
            </div>
        </div>

        <!-- mobile menu start -->
        <div class="gnb_mobile_menu">
            <div class="gnb_inner">
                <ul class="menu_left">
                    <li class="menu1"><a href="#">병원소개</a>
                        <ul class="sub_menu">

                            <li><a href="intro/2">진료시간</a></li>
                            <li><a href="intro/3">찾아오시는 길</a></li>
                            <li><a href="intro/4">병원 내부안내</a></li>
                            <li><a href="intro/5">의료장비 소개</a></li>
                        </ul>
                    </li>
                    <li class="menu2"><a href="#">통증클리닉</a>
                        <ul class="sub_menu">
                            <li><a href="/ds/disease_1.html">두통</a></li>
                            <li><a href="/ds/disease_2.html">목통증</a></li>
                            <li><a href="/ds/disease_3.html">등통증</a></li>
                            <li><a href="/ds/disease_4.html">어깨 통증</a></li>
                            <li><a href="/ds/disease_5.html">팔꿈치 통증</a></li>
                            <li><a href="/ds/disease_6.html">허리 통증</a></li>
                            <li><a href="/ds/disease_7.html">무릎 통증</a></li>
                            <li><a href="/ds/disease_8.html">엉덩이 통증</a></li>
                            <li><a href="/ds/disease_9.html">사타구니 통증</a></li>
                            <li><a href="/ds/disease_10.html">손목/손가락 통증</a></li>
                            <li><a href="/ds/disease_11.html">발목/발가락 통증</a></li>
                        </ul>
                    </li>
                    <li class="menu3"><a href="#">전문클리닉</a>
                        <ul class="sub_menu">
                            <li><a href="/ex/expert_1.html">팔꿈치 통증</a></li>
                            <li><a href="/ex/expert_2.html">어깨 통증</a></li>
                            <li><a href="/ex/expert_3.html">목 통증</a></li>
                            <li><a href="/ex/expert_4.html">대상포진</a></li>
                            <li><a href="intro/1">교통사고 진단</a></li>
                        </ul>
                    </li>
                    <li class="menu4"><a href="#">치료법</a>
                        <ul class="sub_menu">
                            <li><a href="/tm/treatment_1.html">프롤로 치료</a></li>
                            <li><a href="/tm/treatment_2.html">스톨스체외 충격파치료</a></li>
                            <li><a href="/tm/treatment_3.html">수면 신경치료</a></li>
                            <li><a href="/tm/treatment_4.html">무릎 유전자 치료</a></li>
                            <li><a href="/tm/treatment_5.html">도수 치료</a></li>
                        </ul>
                    </li>
                    <li class="menu5"><a href="#">상담 &amp; 예약</a>
                        <ul class="sub_menu">
                            <li><a href="/cs/notice_list.html">공지사항</a></li>
                            <li><a href="/cs/faq_list.html">자주하는질문</a></li>
                        </ul>
                    </li>
                    <li class="menu6"><a href="/admin/login">관리자</a></li>
                </ul>
            </div>

            <script>
		$(document).on("click", ".gnb_mobile_menu .menu_left > li > a", subMenu);

		function show_mobile_menu() {
			$(".gnb_mobile_menu .sub_menu").slideUp(200);
			$(".gnb_mobile_menu .menu_left li").removeClass("on");

			$('#header .mobile_bar').toggleClass("open");

			if (!$('#header .mobile_bar').hasClass("open")) {
				$(".gnb_mobile_menu").stop().animate({
					left : '-100%'
				}, 250);
			} else {
				$(".gnb_mobile_menu").stop().animate({
					left : 0
				}, 250);
			}
		}

		function subMenu(e) {
			$thisp = $(this).parent();

			$(".gnb_mobile_menu .menu_left > li").removeClass("on");

			var dropDown = $(this).next(".sub_menu");
			$(".gnb_mobile_menu .sub_menu").not(dropDown).slideUp("fast");
			dropDown.stop(false, true).slideToggle("fast", function() {
				if ($(this).is(":hidden")) {
					$thisp.removeClass("on");
				} else {
					$thisp.addClass("on");
				}
			});
		}
		</script>
        </div>
        <!-- mobile menu end -->

    </div>
    <!-- header (E) -->
    <div class="content">


        <!-- visual_sub (S) -->
        <div id="visual" class="visual_sub">
            <div class="flexslider mb-0">
                <ul class="slides">
                    <li>
                        <div class="visual_image visual_01">
                            <div class="visual_layer_01"></div>
                            <p class="visual_text_01">몸의 통증 뿐만 아니라 마음의 통증까지 생각합니다.</p>
                            <p class="visual_text_02">비수술 염증 치료의 중심</p>
                            <p class="visual_text_03">수술치료에 의존하지 않고 비수술 염증 치료에<br/>중점을 두어 소중한 건강을 찾아드립니다.</p>
                        </div>
                    </li>
                    <li>
                        <div class="visual_image visual_02">
                            <p class="visual_text_01">환자의 건강을 위해 바로나 마취통증의학과가 함께합니다.</p>
                            <p class="visual_text_02">참기힘든 목디스크, 허리디스크 비수술적 치료로 회복하세요.</p>
                            <p class="visual_text_03">세밀하고 전문적인 치료로 환자분의 체질에 맞는 1:1맞춤형 진료를 지향합니다.</p>
                        </div>
                    </li>
                    <li>
                        <div class="visual_image visual_03">
                            <p class="visual_text_01">정확한 진료를 위해 끊임없이 연구 합니다.</p>
                            <p class="visual_text_02">비수술적 치료로 환자의 건강과 회복을 도와드립니다.</p>
                            <p class="visual_text_03">전문적인 진단과 비수술적 치료를 원칙으로 합니다.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- visual_sub (E) -->


        <div class="sub_wrap">
            <div class="container">
                <h2 class="sub_title">의료장비 소개</h2>
                <p class="sub_title_desc">바로나 마취통증의학과는 몸의 통증 뿐만 아니라 마음의 통증도 치료합니다.</p>



                <!-- banner_sub (S) -->
                <div class="banner_sub">
                    <p class="banner_text_01">비수술 염증치료의 중심</p>
                    <p class="banner_text_02">바로나 마취 통증 의학과</p>
                    <p class="banner_text_03">내 가족을 치료하는 마음으로 진료하겠습니다.</p>
                </div>
                <!-- banner_sub (E) -->

                <div class="image_wrap">
                    <img class="sub_image_100" src="/resources/images/intro/intro_5-1.png" style="width: 70%">
                </div>



                <div class="tab_wrap bottom_tab mt-5 pt-5">
                    <ul class="tab_list">
                        <li class="on">
                            <a class="cursor-default" href="#" onclick="return false">목 통증</a>
                        </li>
                        <li>
                            <a class="cursor-default" href="#" onclick="return false">팔꿈치 통증</a>
                        </li>
                        <li>
                            <a class="cursor-default" href="#" onclick="return false">허리 통증</a>
                        </li>
                        <li>
                            <a class="cursor-default" href="#" onclick="return false">어깨 통증</a>
                        </li>
                        <li>
                            <a class="cursor-default" href="#" onclick="return false">무릎 통증</a>
                        </li>
                        <li>
                            <a class="cursor-default" href="#" onclick="return false">엉덩이 통증</a>
                        </li>
                        <li>
                            <a class="cursor-default" href="#" onclick="return false">손목/손가락 통증</a>
                        </li>
                        <li>
                            <a class="cursor-default" href="#" onclick="return false">발목/발가락 통증</a>
                        </li>
                    </ul>

                    <div class="tab_banner">
                        <div class="left_area">
                            <div class="left_01">
                                <img src="/resources/images/commons/bottom_tab_01.png" />
                            </div>

                            <div class="left_02">
                                <img src="/resources/images/commons/bottom_tab_02.png" />
                            </div>
                        </div>

                        <div class="right_area">
                            <ul class="image_list">
                                <li>
                                    <a href="/ds/disease_2.do.html">
                                        <img src="/resources/images/main/pain_01.png" />
                                    </a>
                                </li>
                                <li>
                                    <a href="/ds/disease_5.do.html">
                                        <img src="/resources/images/main/pain_02.png" />
                                    </a>
                                </li>
                                <li>
                                    <a href="/ds/disease_6.do.html">
                                        <img src="/resources/images/main/pain_03.png" />
                                    </a>
                                </li>
                                <li>
                                    <a href="/ds/disease_4.do.html">
                                        <img src="/resources/images/main/pain_04.png" />
                                    </a>
                                </li>
                                <li>
                                    <a href="/ds/disease_7.do.html">
                                        <img src="/resources/images/main/pain_05.png" />
                                    </a>
                                </li>
                                <li>
                                    <a href="/ds/disease_8.do.html">
                                        <img src="/resources/images/main/pain_06.png" />
                                    </a>
                                </li>
                                <li>
                                    <a href="/ds/disease_10.do.html">
                                        <img src="/resources/images/main/pain_07.png" />
                                    </a>
                                </li>
                                <li>
                                    <a href="/ds/disease_11.do.html">
                                        <img src="/resources/images/main/pain_08.png" />
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <script>
		$(document).ready(function() {
			change_bottom_image(0);
  	});

  	$('.bottom_tab .tab_list li').hover(function() {
  		$('.bottom_tab .tab_list li').removeClass('on');
  		$(this).addClass('on');

  		var index = $(this).index();
  		change_bottom_image(index);
  	}, function() {});

  	function change_bottom_image(index) {
 			$('.tab_banner .image_list li').hide();
 			$('.tab_banner .image_list li').eq(index).show();
  	}
	</script>
                </div>
            </div>
        </div>
    </div>

    <div id="footer">
        <div class="container">
            <div class="ft_info">
                병원명 : 바로나 마취통증의학과 ㅣ 주소 : 충남 천안시 서북구 성정동 1535 AM타워 701호 (신한은행 7층)<br>
                사업자등록번호 : 401-93-04725 ㅣ 대표자 : 박기근 ㅣ <a href="tel:041-582-8585">대표전화 : 041-582-8585</a><br />
                팩스번호 : 041-566-8556 ㅣ e-mail : barona@naver.com <br>
                <br> copyright&copy; 바로나 마취통증의학과 all rights reserved.
            </div>
        </div>
    </div>



</div>
<!-- wrapper (E) -->
<script>
	if('' != '') {
		alert('');
	}
	if('' != '') {
		alert('');
	}

	$(document).ready(function() {
		$('.flexslider').flexslider({
	    animation: "slide",
	    controlNav: false,
	    slideshowSpeed: 8000
	  });
	});

</script>
</body>
</html>