<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="naver-site-verification" content="6410fa0dc4eed7c08c14e3d0dc8e548445d160e1"/>
    <meta name="description" content="여기를 눌러 링크를 확인하세요.">
    <meta property="og:type" content="website">
    <meta property="og:title" content="바로나마취통증의학과">
    <meta property="og:description" content="여기를 눌러 링크를 확인하세요.">
    <meta property="og:image" content="/resources/images/commons/logo.png">
    <meta property="og:url" content="http://www.thebarona.com">
    <title>바로나통증의학과 방문을 환영합니다.</title>
    <link rel="shortcut icon" type="image/x-icon" href="resources/images/commons/favicon.ico" />
    <link href="https://cdn.rawgit.com/zirafa/bootstrap-grid-only/94433673/css/grid12.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <link href="resources/plugin/bootstrap/bootstrap-4-utilities.min.css" rel="stylesheet" />
    <link href="resources/plugin/flexslider/flexslider.css" rel="stylesheet" type="text/css" media="screen">
    <link href="resources/plugin/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css" media="screen">
    <link href="resources/css/reset%EF%B9%96ver=2021041310151316.css" rel="stylesheet">
    <link href="resources/css/font%EF%B9%96ver=2021041310151316.css" rel="stylesheet">
    <link href="resources/css/main%EF%B9%96ver=2021041310151316.css" rel="stylesheet">
    <link href="resources/css/style%EF%B9%96ver=2021041310151316.css" rel="stylesheet">
    <link href="resources/css/responsive%EF%B9%96ver=2021041310151316.css" rel="stylesheet">
    <link href="resources/css/popup.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="resources/js/cookie.js"></script>
    <script src="resources/plugin/flexslider/jquery.flexslider-min.js"></script>
    <script src="resources/plugin/magnific-popup/magnific-popup.min.js"></script>
</head>
<body scroll="auto">
<!-- wrapper (S) -->
<div id="wrapper">


    <!-- header (S) -->
    <div id="header">
        <div class="container">
            <div class="top">
                <!-- tel area -->
                <div class="tel">
                    <img src="resources/images/commons/top_tel.png" alt="041-582-8585">
                </div>
                <!-- logo area -->
                <div class="logo">
                    <a href="main.do.html"><img src="resources/images/commons/logo.png" alt="바로나 마취통증의학과"></a>
                </div>
                <!-- util area -->
                <div class="util">
                    <ul>
                        <li><a href="/">홈</a></li>
                        <li><a href="/admin/login">관리자</a></li>
                    </ul>
                </div>
                <!-- mobile menu bar -->
                <div class="mobile_bar">
                    <a href="javascript:show_mobile_menu()">
                        <img src="resources/images/commons/btn_menu_bar.png" />
                    </a>
                </div>
            </div>
        </div>

        <!-- gnb 메뉴 -->
        <div class="gnb_wrap">
            <div class="gnb_main">
                <ul>
                    <li>
                        <img src="resources/images/commons/btn_menu_bar.png" />
                    </li>
                    <li>
                        <a href="/intro/1">바로나소개</a>
                    </li>
                    <li>
                        <a href="ds/disease_1.do.html">통증클리닉</a>
                    </li>
                    <li>
                        <a href="ex/expert_1.do.html">전문클리닉</a>
                    </li>
                    <li>
                        <a href="tm/treatment_1.do.html">전문치료법</a>
                    </li>
                    <li>
                        <a href="cs/notice_list.do.html">상담&예약</a>
                    </li>
                </ul>

                <!-- gnb sub start -->
                <div class="gnb_sub">
                    <div class="inner">
                        <ul class="sub_list"></ul>
                        <ul class="sub_list sub-menu-01">
                            <!-- 						<li> -->

                            <!-- 						</li> -->
                            <li>
                                <a href="it/intro_2.do.html">진료시간</a>
                            </li>
                            <li>
                                <a href="it/intro_3.do.html">찾아오시는 길</a>
                            </li>
                        </ul>

                        <ul class="sub_list sub-menu-01">
                            <li>
                                <a href="it/intro_4.do.html">병원 내부안내</a>
                            </li>
                            <li>
                                <a href="it/intro_5.do.html">의료장비 소개</a>
                            </li>
                        </ul>

                        <ul class="sub_list sub-menu-02">
                            <li>
                                <a href="ds/disease_1.do.html">두통</a>
                            </li>
                            <li>
                                <a href="ds/disease_2.do.html">목 통증</a>
                            </li>
                            <li>
                                <a href="ds/disease_3.do.html">등 통증</a>
                            </li>
                        </ul>

                        <ul class="sub_list sub-menu-02">
                            <li>
                                <a href="ds/disease_4.do.html">어깨 통증</a>
                            </li>
                            <li>
                                <a href="ds/disease_5.do.html">팔꿈치 통증</a>
                            </li>
                            <li>
                                <a href="ds/disease_6.do.html">허리 통증</a>
                            </li>
                        </ul>

                        <ul class="sub_list sub-menu-02">
                            <li>
                                <a href="ds/disease_7.do.html">무릎 통증</a>
                            </li>
                            <li>
                                <a href="ds/disease_8.do.html">엉덩이 통증</a>
                            </li>
                            <li>
                                <a href="ds/disease_9.do.html">사타구니 통증</a>
                            </li>
                        </ul>

                        <ul class="sub_list sub-menu-02">
                            <li>
                                <a href="ds/disease_10.do.html">손목/손가락 통증</a>
                            </li>
                            <li>
                                <a href="ds/disease_11.do.html">발목/발가락 통증</a>
                            </li>
                        </ul>

                        <ul class="sub_list sub-menu-03">
                            <li>
                                <a href="ex/expert_1.do.html">팔꿈치 통증</a>
                            </li>
                            <li>
                                <a href="ex/expert_2.do.html">어깨 통증</a>
                            </li>
                        </ul>

                        <ul class="sub_list sub-menu-03">
                            <li>
                                <a href="ex/expert_3.do.html">목 통증</a>
                            </li>
                            <li>
                                <a href="ex/expert_4.do.html">대상포진</a>
                            </li>
                        </ul>

                        <ul class="sub_list sub-menu-04">
                            <li>
                                <a href="tm/treatment_1.do.html">프롤로 치료</a>
                            </li>
                            <li>
                                <a href="tm/treatment_2.do.html">스톨스체외 충격파치료</a>
                            </li>
                            <li>
                                <a href="tm/treatment_3.do.html">수면 신경치료</a>
                            </li>
                            <li>
                                <a href="it/intro_1.do.html">교통사고 진단</a>
                            </li>
                        </ul>

                        <ul class="sub_list sub-menu-04">
                            <!-- 						<li> -->

                            <!-- 						</li> -->
                            <li>
                                <a href="tm/treatment_5.do.html">도수 치료</a>
                            </li>
                        </ul>

                        <ul class="sub_list sub-menu-05">
                            <li>
                                <a href="cs/notice_list.do.html">공지사항</a>
                            </li>
                            <li>
                                <a href="cs/faq_list.do.html">자주하는 질문</a>
                            </li>
                        </ul>
                    </div>

                    <div class="sub_image">
                        <img src="resources/images/commons/menu_img_01.png" />
                        <img src="resources/images/commons/menu_img_02.png" />
                        <img src="resources/images/commons/menu_img_03.png" />
                        <img src="resources/images/commons/menu_img_04.png" />
                        <img src="resources/images/commons/menu_img_05.png" />
                    </div>
                </div>
                <!-- gnb sub end -->

                <script>
				$(document).ready(function() {
				  change_submenu(1);
				});

				$('.gnb_main').hover(function() {
					$('.gnb_sub').stop().slideDown(200);
				}, function() {
					$('.gnb_sub').stop().slideUp(200);
				});

				$('.gnb_main > ul > li').hover(function() {
					var index = $(this).index();
					change_submenu(index);
				}, function() {});

				var menu_arr = new Array();
				menu_arr.push(['1', '5']);
				menu_arr.push(['2', '5']);
				menu_arr.push(['3', '4', '5']);
				menu_arr.push(['3', '4', '5']);
				menu_arr.push(['3', '4', '5']);

				function change_submenu(index) {
					if(index == 0) return;

					$('.gnb_sub .sub_list').css('display', 'none');
					$('.gnb_sub .sub_image img').hide();
					$('.gnb_sub .sub_image img').eq(index-1).show();
					var array = menu_arr[index-1];

					$.each(array, function(index, value) {
						$('.sub-menu-0' + value).css('display', 'inline-block');
					});
				}
			</script>
            </div>
        </div>

        <!-- mobile menu start -->
        <div class="gnb_mobile_menu">
            <div class="gnb_inner">
                <ul class="menu_left">
                    <li class="menu1"><a href="#">병원소개</a>
                        <ul class="sub_menu">

                            <li><a href="it/intro_2.do.html">진료시간</a></li>
                            <li><a href="it/intro_3.do.html">찾아오시는 길</a></li>
                            <li><a href="it/intro_4.do.html">병원 내부안내</a></li>
                            <li><a href="it/intro_5.do.html">의료장비 소개</a></li>
                        </ul>
                    </li>
                    <li class="menu2"><a href="#">통증클리닉</a>
                        <ul class="sub_menu">
                            <li><a href="ds/disease_1.do.html">두통</a></li>
                            <li><a href="ds/disease_2.do.html">목통증</a></li>
                            <li><a href="ds/disease_3.do.html">등통증</a></li>
                            <li><a href="ds/disease_4.do.html">어깨 통증</a></li>
                            <li><a href="ds/disease_5.do.html">팔꿈치 통증</a></li>
                            <li><a href="ds/disease_6.do.html">허리 통증</a></li>
                            <li><a href="ds/disease_7.do.html">무릎 통증</a></li>
                            <li><a href="ds/disease_8.do.html">엉덩이 통증</a></li>
                            <li><a href="ds/disease_9.do.html">사타구니 통증</a></li>
                            <li><a href="ds/disease_10.do.html">손목/손가락 통증</a></li>
                            <li><a href="ds/disease_11.do.html">발목/발가락 통증</a></li>
                        </ul>
                    </li>
                    <li class="menu3"><a href="#">전문클리닉</a>
                        <ul class="sub_menu">
                            <li><a href="ex/expert_1.do.html">팔꿈치 통증</a></li>
                            <li><a href="ex/expert_2.do.html">어깨 통증</a></li>
                            <li><a href="ex/expert_3.do.html">목 통증</a></li>
                            <li><a href="ex/expert_4.do.html">대상포진</a></li>
                            <li><a href="it/intro_1.do.html">교통사고 진단</a></li>
                        </ul>
                    </li>
                    <li class="menu4"><a href="#">치료법</a>
                        <ul class="sub_menu">
                            <li><a href="tm/treatment_1.do.html">프롤로 치료</a></li>
                            <li><a href="tm/treatment_2.do.html">스톨스체외 충격파치료</a></li>
                            <li><a href="tm/treatment_3.do.html">수면 신경치료</a></li>
                            <li><a href="tm/treatment_4.do.html">무릎 유전자 치료</a></li>
                            <li><a href="tm/treatment_5.do.html">도수 치료</a></li>
                        </ul>
                    </li>
                    <li class="menu5"><a href="#">상담 &amp; 예약</a>
                        <ul class="sub_menu">
                            <li><a href="cs/notice_list.do.html">공지사항</a></li>
                            <li><a href="cs/faq_list.do.html">자주하는질문</a></li>
                        </ul>
                    </li>
                    <li class="menu6"><a href="admin/login.do.html">관리자</a></li>
                </ul>
            </div>

            <script>
		$(document).on("click", ".gnb_mobile_menu .menu_left > li > a", subMenu);

		function show_mobile_menu() {
			$(".gnb_mobile_menu .sub_menu").slideUp(200);
			$(".gnb_mobile_menu .menu_left li").removeClass("on");

			$('#header .mobile_bar').toggleClass("open");

			if (!$('#header .mobile_bar').hasClass("open")) {
				$(".gnb_mobile_menu").stop().animate({
					left : '-100%'
				}, 250);
			} else {
				$(".gnb_mobile_menu").stop().animate({
					left : 0
				}, 250);
			}
		}

		function subMenu(e) {
			$thisp = $(this).parent();

			$(".gnb_mobile_menu .menu_left > li").removeClass("on");

			var dropDown = $(this).next(".sub_menu");
			$(".gnb_mobile_menu .sub_menu").not(dropDown).slideUp("fast");
			dropDown.stop(false, true).slideToggle("fast", function() {
				if ($(this).is(":hidden")) {
					$thisp.removeClass("on");
				} else {
					$thisp.addClass("on");
				}
			});
		}
		</script>
        </div>
        <!-- mobile menu end -->

    </div>
    <!-- header (E) -->
    <div class="content">


        <!-- visual (S) -->
        <div id="visual">
            <div class="flexslider mb-0">
                <ul class="slides">
                    <li>
                        <div class="visual_image visual_01">
                            <div class="visual_layer_01"></div>
                            <p class="visual_text_01">몸의 통증 뿐만 아니라 마음의 통증까지 생각합니다.</p>
                            <p class="visual_text_02">비수술 염증 치료의 중심</p>
                            <p class="visual_text_03">수술치료에 의존하지 않고 비수술 염증 치료에<br/>중점을 두어 소중한 건강을 찾아드립니다.</p>
                        </div>
                    </li>
                    <li>
                        <div class="visual_image visual_02">
                            <p class="visual_text_01">환자의 건강을 위해 바로나 마취통증의학과가 함께합니다.</p>
                            <p class="visual_text_02">참기힘든 목디스크, 허리디스크 비수술적 치료로 회복하세요.</p>
                            <p class="visual_text_03">세밀하고 전문적인 치료로 환자분의 체질에 맞는 1:1맞춤형 진료를 지향합니다.</p>
                        </div>
                    </li>
                    <li>
                        <div class="visual_image visual_03">
                            <p class="visual_text_01">정확한 진료를 위해 끊임없이 연구 합니다.</p>
                            <p class="visual_text_02">비수술적 치료로 환자의 건강과 회복을 도와드립니다.</p>
                            <p class="visual_text_03">전문적인 진단과 비수술적 치료를 원칙으로 합니다.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- visual (E) -->


        <script>
	/* 팝업 보이기 */
	function openPopupPc() {
		var cookieCheck01 = getCookie('popup01YN');
		var cookieCheck02 = getCookie('popup02YN');
		var cookieCheck03 = getCookie('popup03YN');
		var cookieCheck04 = getCookie('popup04YN');
		var cookieCheck05 = getCookie('popup05YN');
		var cookieCheck06 = getCookie('popup06YN');
		var cookieCheck07 = getCookie('popup07YN');
		var cookieCheck08 = getCookie('popup08YN');
		var cookieCheck09 = getCookie('popup09YN');
		var cookieCheck10 = getCookie('popup10YN');
		var cookieCheck11 = getCookie('popup11YN');

		if(cookieCheck01 != 'N')
			 window.open("/popup/popup_01", "a", "width=439, height=542, left=360, top=200, scrollbars=no, resizable=no, toolbars=no, menubar=no");
		if(cookieCheck02 != 'N')
			 window.open("/popup/popup_02", "b", "width=439, height=542, left=300, top=130, scrollbars=no, resizable=no, toolbars=no, menubar=no");
		//if(cookieCheck09 != 'N')
		//	 window.open("/popup/popup_09.do", "a", "width=439, height=542, left=300, top=130, scrollbars=no, resizable=no, toolbars=no, menubar=no");
		//if(cookieCheck03 != 'N')
		//	 window.open("/popup/popup_03.do", "b", "width=439, height=542, left=225, top=232, scrollbars=no, resizable=no, toolbars=no, menubar=no");
		//if(cookieCheck04 != 'N')
		//	 window.open("/popup/popup_04.do", "d", "width=439, height=542, left=100, top=192, scrollbars=no, resizable=no, toolbars=no, menubar=no");
		//if(cookieCheck05 != 'N')
		//	 window.open("/popup/popup_05.do", "c", "width=439, height=542, left=225, top=232, scrollbars=no, resizable=no, toolbars=no, menubar=no");
		//if(cookieCheck06 != 'N')
		//	 window.open("/popup/popup_06.do", "c", "width=439, height=542, left=300, top=192, scrollbars=no, resizable=no, toolbars=no, menubar=no");
		//if(cookieCheck07 != 'N')
		//	 window.open("/popup/popup_07.do", "c", "width=420, height=518, left=240, top=22, scrollbars=no, resizable=no, toolbars=no, menubar=no");
		//if(cookieCheck08 != 'N')
		//	 window.open("/popup/popup_08.do", "c", "width=560, height=320, left=270, top=130, scrollbars=no, resizable=no, toolbars=no, menubar=no");
		//if(cookieCheck10 != 'N')
		//	 window.open("/popup/popup_10.do", "c", "width=533, height=369, left=270, top=130, scrollbars=no, resizable=no, toolbars=no, menubar=no");
		//if(cookieCheck11 != 'N')
		//	 window.open("/popup/popup_11.do", "c", "width=601, height=582, left=350, top=130, scrollbars=no, resizable=no, toolbars=no, menubar=no");
	}
</script>
        <div class="main_wrap">
            <!-- 통증별 소개 -->
            <div class="section_01">
                <div class="container">
                    <h2 class="main_title"><img src="resources/images/main/main_tit_01.png" alt="이런 치료방법이 궁금하시다구요 ?! 어디가 아프세요?"/></h2>

                    <div class="pain_wrap">
                        <div class="pain_left">
                            <ul class="pain_tab">
                                <li class="on">목 통증</li>
                                <li>팔꿈치 통증</li>
                                <li>허리 통증</li>
                                <li>어깨 통증</li>
                                <li>무릎 통증</li>
                                <li>엉덩이 통증</li>
                                <li>손,손목 통증</li>
                                <li>발,발목 통증</li>
                            </ul>

                            <ul class="pain_image">
                                <li>
                                    <a href="ds/disease_2.do.html">
                                        <img src="resources/images/main/pain_01.png" />
                                    </a>
                                </li>
                                <li>
                                    <a href="ds/disease_5.do.html">
                                        <img src="resources/images/main/pain_02.png" />
                                    </a>
                                </li>
                                <li>
                                    <a href="ds/disease_6.do.html">
                                        <img src="resources/images/main/pain_03.png" />
                                    </a>
                                </li>
                                <li>
                                    <a href="ds/disease_4.do.html">
                                        <img src="resources/images/main/pain_04.png" />
                                    </a>
                                </li>
                                <li>
                                    <a href="ds/disease_7.do.html">
                                        <img src="resources/images/main/pain_05.png" />
                                    </a>
                                </li>
                                <li>
                                    <a href="ds/disease_8.do.html">
                                        <img src="resources/images/main/pain_06.png" />
                                    </a>
                                </li>
                                <li>
                                    <a href="ds/disease_10.do.html">
                                        <img src="resources/images/main/pain_07.png" />
                                    </a>
                                </li>
                                <li>
                                    <a href="ds/disease_11.do.html">
                                        <img src="resources/images/main/pain_08.png" />
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="pain_right">
                            <img class="sm_image" src="resources/images/main/pain_banner_sm.png" />
                            <img class="lg_image" src="resources/images/main/pain_banner_lg.png" />
                        </div>
                    </div>
                </div>
            </div>

            <!-- 치료별 소개 -->
            <div class="section_02">
                <div class="container">
                    <ul class="treat_list">
                        <li>
                            <a href="tm/treatment_3.do.html">
                                <img class="scale" src="resources/images/main/banner_01.png" />
                            </a>
                        </li>
                        <li>
                            <a href="tm/treatment_1.do.html">
                                <img class="scale" src="resources/images/main/banner_02.png" />
                            </a>
                        </li>
                        <li>
                            <a href="tm/treatment_5.do.html">
                                <img class="scale" src="resources/images/main/banner_03.png" />
                            </a>
                        </li>
                        <li>
                            <a href="tm/treatment_2.do.html">
                                <img class="scale" src="resources/images/main/banner_04.png" />
                            </a>
                        </li>
                        <!-- 				유전자 치료 -->
                        <!-- 				<li> -->


                        <!-- 					</a> -->
                        <!-- 				</li> -->
                        <!-- 			대상 포진 치료 -->
                        <li>
                            <a href="ex/expert_4.do.html">
                                <img class="scale" src="resources/images/main/banner_07.png" />
                            </a>
                        </li>
                        <li>
                            <a href="it/intro_3.do.html">
                                <img class="scale" src="resources/images/main/banner_06.png" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- 병원 위치 안내 -->
            <div class="section_03">
                <div class="container">
                    <h2 class="main_title"><img src="resources/images/main/main_tit_02.png" alt="이런 치료방법이 궁금하시다구요 ?! 어디가 아프세요?"/></h2>

                    <div class="loc_wrap">
                        <div class="left_area">
                            <a href="https://map.naver.com/v5/search/%EB%B0%94%EB%A1%9C%EB%82%98%EB%A7%88%EC%B7%A8%ED%86%B5%EC%A6%9D%EC%9D%98%ED%95%99%EA%B3%BC%EC%9D%98%EC%9B%90/place/1540000590?c=14151982.8121903,4414909.0142922,14,0,0,0,dh" target="_blank" title="네이버 지도 보기">
                                <img class="scale" src="resources/images/main/location.png" />
                            </a>
                        </div>

                        <div class="right_area">
                            <div class="right_01">
                                <a class="park_image" href="resources/images/main/parking_01.jpg" title="주차장 1">
                                    <img class="scale" src="resources/images/main/parking_01.jpg" title="주차장 보기" />
                                </a>
                                <a class="park_image" href="resources/images/main/parking_02.jpg" title="주차장 2">
                                    <img class="scale" src="resources/images/main/parking_02.jpg" title="주차장 보기" />
                                </a>
                                <a class="park_image hide" href="resources/images/main/parking_03.jpg" title="주차장 3">
                                    <img src="resources/images/main/parking_03.jpg" title="주차장 보기" />
                                </a>
                                <a class="park_image hide" href="resources/images/main/parking_04.jpg" title="주차장 4">
                                    <img src="resources/images/main/parking_04.jpg" title="주차장 보기" />
                                </a>
                                <a class="park_image hide" href="resources/images/main/parking_05.jpg" title="주차장 5">
                                    <img src="resources/images/main/parking_05.jpg" title="주차장 보기" />
                                </a>
                                <a class="park_image hide" href="resources/images/main/parking_06.jpg" title="주차장 6">
                                    <img src="resources/images/main/parking_06.jpg" title="주차장 보기" />
                                </a>
                                <a class="park_image hide" href="resources/images/main/parking_07.jpg" title="주차장 7">
                                    <img src="resources/images/main/parking_07.jpg" title="주차장 보기" />
                                </a>
                                <a class="park_image hide" href="resources/images/main/parking_08.jpg" title="주차장 8">
                                    <img src="resources/images/main/parking_08.jpg" title="주차장 보기" />
                                </a>
                                <a class="park_image hide" href="resources/images/main/parking_09.jpg" title="주차장 9">
                                    <img src="resources/images/main/parking_09.jpg" title="주차장 보기" />
                                </a>
                            </div>

                            <div class="right_02">
                                <img src="resources/images/main/time_table.png" />
                            </div>

                            <div class="right_03">
                                <img src="resources/images/main/center.png" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="overlay_t"></div>
            <div id="popup_layer">

                <img src="resources/images/popups/m_popup_01.jpg" style="width: 100%; display: block;" class="popup_image popup01">
                <div class="btn_slides">
                    <a href="#" class="btnPrev"><i class="fas fa-chevron-circle-left"></i></a>
                    <p class="popup_number"></p>
                    <a href="#" class="btnNext"><i class="fas fa-chevron-circle-right"></i></a>
                </div>
                <div class="btn_group">
                    <a href="#" class="btnDay">오늘 하루 열지 않기</a>
                    <a href="#" class="btnClose">닫기</a>
                </div>
            </div>

            <script>
  	$(document).ready(function() {
  		change_pain_image(0);
  	});

  	$('.pain_tab li').hover(function() {
  		$('.pain_tab li').removeClass('on');
  		$(this).addClass('on');

  		var index = $(this).index();
  		change_pain_image(index);
  	}, function() {});

  	function change_pain_image(index) {
 			$('.pain_image li').hide();
 			$('.pain_image li').eq(index).show();
  	}

  	$('.right_area .right_01 .park_image').magnificPopup({
       type: 'image',
       closeBtnInside: true,
       fixedContentPos: true,
       image: {verticalFit: true},
       gallery: {enabled: true},
       zoom: {enabled: true, duration: 400}
    });
 	</script>

            <script>
	  var mobileInfo = new Array('Android', 'iPhone', 'iPod', 'BlackBerry', 'Windows CE', 'SAMSUNG', 'LG', 'MOT', 'SonyEricsson');
		var is_mobile = false;

		var cookieCheck01 = getCookie('mpopup01YN');
		var popups = $('.popup_image');
		var current_popup = 1;

		for (var info in mobileInfo){
			if (navigator.userAgent.match(mobileInfo[info]) != null){
				is_mobile = true;
				break;
			}
		}
		if(is_mobile) {
	  	var width = $('#popup_layer').width();
	  	$('#popup_layer').css('margin-left', '-' + (width/2) + 'px');
	  	if(cookieCheck01 != 'N')
	  		$('#popup_layer, #overlay_t').show();
		} else {
			openPopupPc();
			$('#popup_layer').hide();
			$('#overlay_t').hide();
		}

		$('.btn_slides .popup_number').text(popup_numbering(current_popup, popups.length));

		$('#popup_layer').css("top", Math.max(0, $(window).scrollTop() + 140) + "px");

		$('.btnPrev').click(function(){
			if(current_popup == 1)
				return;
			current_popup -= 1;
			$('.btn_slides .popup_number').text(popup_numbering(current_popup, popups.length));
			$('.popup_image').hide();
			$('.popup0' + current_popup).show();
		});
		$('.btnNext').click(function(){
			if(current_popup == popups.length)
				return;
			current_popup += 1;
			$('.btn_slides .popup_number').text(popup_numbering(current_popup, popups.length));
			$('.popup_image').hide();
			$('.popup0' + current_popup).show();
		});

		$('.btnDay').click(function() {
			setCookie( "mpopup01YN", "N" , 1);
			$('#overlay_t, #popup_layer').hide();
		});
		$('.btnClose').click(function() {
			$('#overlay_t, #popup_layer').hide();
		});

		function popup_numbering(current, length) {
			if(current < 10)
				current = '0' + current;
			if(length < 10)
				length = '0' + length;
			return current + ' / ' + length;
		}
  </script>
        </div>
    </div>

    <div id="footer">
        <div class="container">
            <div class="ft_info">
                병원명 : 바로나 마취통증의학과 ㅣ 주소 : 충남 천안시 서북구 성정동 1535 AM타워 701호 (신한은행 7층)<br>
                사업자등록번호 : 401-93-04725 ㅣ 대표자 : 박기근 ㅣ <a href="tel:041-582-8585">대표전화 : 041-582-8585</a><br />
                팩스번호 : 041-566-8556 ㅣ e-mail : barona@naver.com <br>
                <br> copyright&copy; 바로나 마취통증의학과 all rights reserved.
            </div>
        </div>
    </div>



</div>
<!-- wrapper (E) -->
<script>
	if('' != '') {
		alert('');
	}
	if('' != '') {
		alert('');
	}

	$(document).ready(function() {
		$('.flexslider').flexslider({
	    animation: "slide",
	    controlNav: false,
	    slideshowSpeed: 8000
	  });
	});

</script>
</body>
</html>