<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="naver-site-verification" content="6410fa0dc4eed7c08c14e3d0dc8e548445d160e1"/>
    <meta name="description" content="여기를 눌러 링크를 확인하세요.">
    <meta property="og:type" content="website">
    <meta property="og:title" content="바로나마취통증의학과">
    <meta property="og:description" content="여기를 눌러 링크를 확인하세요.">
    <meta property="og:image" content="/resources/images/commons/logo.png">
    <meta property="og:url" content="http://www.thebarona.com">
    <title>바로나통증의학과 방문을 환영합니다.</title>
    <link rel="shortcut icon" type="image/x-icon" href="/resources/images/commons/favicon.ico" />
    <link href="https://cdn.rawgit.com/zirafa/bootstrap-grid-only/94433673/css/grid12.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <link href="/resources/plugin/bootstrap/bootstrap-4-utilities.min.css" rel="stylesheet" />
    <link href="/resources/plugin/flexslider/flexslider.css" rel="stylesheet" type="text/css" media="screen">
    <link href="/resources/plugin/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css" media="screen">
    <link href="/resources/css/reset%EF%B9%96ver=2021041311541314.css" rel="stylesheet">
    <link href="/resources/css/font%EF%B9%96ver=2021041311541314.css" rel="stylesheet">
    <link href="/resources/css/main%EF%B9%96ver=2021041311541314.css" rel="stylesheet">
    <link href="/resources/css/style%EF%B9%96ver=2021041311541314.css" rel="stylesheet">
    <link href="/resources/css/responsive%EF%B9%96ver=2021041311541314.css" rel="stylesheet">
    <link href="/resources/css/popup.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/resources/js/cookie.js"></script>
    <script src="/resources/plugin/flexslider/jquery.flexslider-min.js"></script>
    <script src="/resources/plugin/magnific-popup/magnific-popup.min.js"></script>
</head>
<body scroll="auto">
<!-- wrapper (S) -->
<div id="wrapper">
    <div class="content">


        <style>body {overflow-y: auto;}
</style>

        <script>
	$(function() {
	   var btnDay = $('.btnDay');

	   btnDay.click(function() {
	      setCookie( "popup02YN", "N" , 1);
	      window.close();
	   });
	});
</script>
        <div class="popup_wrap" onresize="parent.resizeTo(454, 542)" onload="parent.resizeTo(454, 542)">
            <img src="/resources/images/popups/popup_02.jpg" style="display: block;">
            <div class="btn_box" style="background: #333">
                <a href="#" class="btnDay" style="color: #efeeee"><i class="far fa-check-circle"></i>오늘 하루 열지 않기</a>
                <a href="javascript:window.close();" class="btnClose" style="color: #efeeee">닫기</a>
            </div>
        </div>
    </div>


</div>
<!-- wrapper (E) -->
<script>
	if('' != '') {
		alert('');	
	}
	if('' != '') {
		alert('');	
	}
	
	$(document).ready(function() {
		$('.flexslider').flexslider({
	    animation: "slide",
	    controlNav: false,
	    slideshowSpeed: 8000
	  });
	});
	
</script>
</body>
</html>
